log/
target/
Anarmorix_Business_Api/target/
Anarmorix_Business_Impl/target/
Anarmorix_Data_Api/target/
Anarmorix_Data_Impl/target/
Anarmorix_EAR/target/
Anarmorix_Entity/target/
Anarmorix_FrontWeb/target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
*/Anarmorix_Business_Api/.classpath
Anarmorix_Business_Api/.project
Anarmorix_Business_Api/.settings/

Anarmorix_Business_Impl/.classpath
Anarmorix_Business_Impl/.project
Anarmorix_Business_Impl/.settings/

Anarmorix_Data_Api/.classpath
Anarmorix_Data_Api/.project
Anarmorix_Data_Api/.settings/

Anarmorix_Data_Impl/.classpath
Anarmorix_Data_Impl/.project
Anarmorix_Data_Impl/.settings/

Anarmorix_EAR/.classpath
Anarmorix_EAR/.project
Anarmorix_EAR/.settings/

Anarmorix_Entity/.classpath
Anarmorix_Entity/.project
Anarmorix_Entity/.settings/

Anarmorix_FrontWeb/.classpath
Anarmorix_FrontWeb/.project
Anarmorix_FrontWeb/.settings/