Projet/log/
Projet/target/
Projet/Anarmorix_Business_Api/target/
Projet/Anarmorix_Business_Impl/target/
Projet/Anarmorix_Data_Api/target/
Projet/Anarmorix_Data_Impl/target/
Projet/Anarmorix_EAR/target/
Projet/Anarmorix_Entity/target/
Projet/Anarmorix_FrontWeb/target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
Projet/Anarmorix_Business_Api/.classpath
Projet/Anarmorix_Business_Api/.project
Projet/Anarmorix_Business_Api/.settings/

Projet/Anarmorix_Business_Impl/.classpath
Projet/Anarmorix_Business_Impl/.project
Projet/Anarmorix_Business_Impl/.settings/

Projet/Anarmorix_Data_Api/.classpath
Projet/Anarmorix_Data_Api/.project
Projet/Anarmorix_Data_Api/.settings/

Projet/Anarmorix_Data_Impl/.classpath
Projet/Anarmorix_Data_Impl/.project
Projet/Anarmorix_Data_Impl/.settings/

Projet/Anarmorix_EAR/.classpath
Projet/Anarmorix_EAR/.project
Projet/Anarmorix_EAR/.settings/

Projet/Anarmorix_Entity/.classpath
Projet/Anarmorix_Entity/.project
Projet/Anarmorix_Entity/.settings/

Projet/Anarmorix_FrontWeb/.classpath
Projet/Anarmorix_FrontWeb/.project
Projet/Anarmorix_FrontWeb/.settings/