body {
  margin-top: 50px;
  font-family: Lato, sans-serif;
}

#connexion {
	 border: 0;
    font-size: 16px !important;
	color : #fff;
    letter-spacing: 4px;
    border-radius: 0;
    
   
}

.btn {
    border-radius: 5px 30px;
    color: #fff;
    background-color: #6c5cb8;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
  }

  

  .btn:hover {
    border-radius: 30px 5px;
    color: #edebe6;
    background-color: #3d348b;
  }
  }


  @media only screen and (max-width: 767px) {
  .btn {
    margin-bottom: 15px;
  }
  }

  .col-md-3 {
  	border: 1px solid #6c5cb8;
  	border-radius: 5px;
  	margin: 10px 10px 10px 10px;
  	padding: 10px 0px 10px 0px;
  }
  
  .col-md-3 img {
  	height : 200px;
  	width :  290px;
  }

  .dropdown-menu { 
	height: 20vh;
	width: 30 vh;
	border-radius: 5px 5px 5px 5px;
}

  #connexion:hover {
	 
	color : #b8b4aa;
    background-color: #3d348b;
    
    
   
}
.navbar {
	margin-bottom: 0;
    /*background-color: #6c5cb8;*/
    background-image: url(img/fondvioletlight.png);
    z-index: 9999;
   
}


.navbar-brand {
	float: center;
	color: #ff69b4;
	font-family: Pacifico, sans-serif;
	font-size: 22px !important;
	
}
.section-catalogue #cart {
	float: right;
	cursor: pointer;
}

.section-catalogue .page-header .text-center {
	font-family: Pacifico, sans-serif;
}

/*css accordeon*/

#AccordeonNiveauPrincipal .list-group-item {
  display: block;
    padding: 14px 50px 14px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: #6c5cb8;
    position: relative;
    border-bottom: none;
    border-radius: 20px 20px 20px 20px;
    
}


/*fin*/

.section-d {
  margin-top: 50px;
}
.col-lg-offset-1 {
	margin-top: 20px;
}


/*css bouton recette*/
.btn-recettes {
  width: 300px; height: 300px;
  position: relative;
  border: 1px solid #6c5cb8;
  

}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 150px; height: 150px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#7678ED 0%, #6C5CB8 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #6C5CB8;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #6C5CB8;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #6C5CB8;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #6C5CB8;
}

/*fin*/




