body {
  margin-top: 50px;
  font-family: Lato, sans-serif;
}

/*css navbar*/

 .dropdown-menu { 
	height: 22vh;
	width: 30 vh;
	border-radius: 5px 5px 5px 5px;
}

 
   
.navbar {
	margin-bottom: 0;
    /*background-color: #6c5cb8;*/
    background-image: url(img/fondvioletlight.png);
    z-index: 9999;
   
}


.navbar-brand {
	float: center;
	color: #ff69b4;
	font-family: Pacifico, sans-serif;
	font-size: 22px !important;
	
}
.navbar ul {
	
	text-align: center;
	
}
.navbar ul li{
	
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	
}


.navbar ul span {
	
	color: #fff;
}


#connexion {
	 border: 0;
    font-size: 16px !important;
	color : #fff;
    letter-spacing: 4px;
    border-radius: 0;
    
   
}
 #connexion:hover, #connexion:focus, #connexion:active {
	 
	color : #b8b4aa;
    background-color: #3d348b;
    
}


/*fin*/



.section-catalogue #cart {
	float: right;
	cursor: pointer;
}

.section-catalogue .page-header .text-center {
	font-family: Pacifico, sans-serif;
}
.section-categories .row {
	
	margin-top: 58px;
}

.section-catalogue .row {
	margin-top: -20px;
}



/*css bouton funky*/

.btn:not(.btn-number) {
    border-radius: 5px 30px;
    color: #fff;
    background-color: #6c5cb8;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
  }

  

  .btn:not(.btn-number):hover {
    border-radius: 30px 5px;
    color: #edebe6;
    background-color: #3d348b;
  }
  }


  @media only screen and (max-width: 767px) {
  .btn {
    margin-bottom: 15px;
  }
  }
  
  .btn-number {
  	color: #fff;
    background-color: #6c5cb8;
  }
  
  .btn-number:hover {
  	 color: #edebe6;
    background-color: #3d348b;
  }
  
  /*fin*/

  .col-md-3 {
  	/*border: 1px solid #6c5cb8;*/
  	border-radius: 5px;
  	margin: 0px 80px 20px 10px;
  	padding: 10px 0px 10px 0px;
  }
  
  
  
  .col-md-3 img {
  	height : 200px;
  	width :  290px;
  	border-radius : 5px;
  }

  
  .col-md-3 .input-group {
  width: 121px;
  float: left;
  }
  
  .col-md-3 .my-cart-btn {
  float: right;
  }
  
  .col-lg-12 {
  margin-top: 25px;
  margin-bottom: 10px;
  }
  strong {
  	font-family: Pacifico, sans-serif;
  }
 

/*css accordeon*/

#AccordeonNiveauPrincipal .list-group-item {
  display: block;
    padding: 14px 50px 14px 30px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    /*background: #6c5cb8;*/
    position: relative;
    border-bottom: none;
    border-radius: 5px 5px 5px 5px;
    
}

#AccordeonNiveauPrincipal .list-group-item:hover {
  	color : #b8b4aa;
    background-color: #3d348b;
    
    
}
#AccordeonNiveauPrincipal .list-group-item:focus {
  	color : #b8b4aa;
    background-color: #3d348b;
    
    
}
#AccordeonNiveauPrincipal .list-group-item i {
	float: right;
		
}	
.bg-secondaire {
	
	background-color: #6c5cb8;
}

.bg-tertiaire {
	
	background-color : #7692ff;
	
}

.bg-quaternaire {
	
	background-color : #5762d5;
	
}




/*fin*/

.section-d {
  margin-top: 50px;
}
.col-lg-offset-1 {
	margin-top: 20px;
}


/*css bouton recette*/
.btn-recettes {
  width: 300px; height: 300px;
  position: relative;
  border: 1px solid #6c5cb8;
  border-radius : 10px;
  

}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 150px; height: 150px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#7678ED 0%, #6C5CB8 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #6C5CB8;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #6C5CB8;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #6C5CB8;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #6C5CB8;
}

/*fin*/

/*hover produits*/

	.box{
    position: relative;
    text-align: center;
    color:#fff;
}
.box-img:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out 0s;
}
.box-img img{
    width: 100%;
    height: auto;
}
.content{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    padding: 0 30px;
    background: #6c5cb8;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: all 0.8s ease-in-out 0s;
}
.content > .title{
    font-size: 22px;
    text-transform: uppercase;
    margin-top: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.content > .description{
    font-size: 13px;
}
.box:hover .content{
    opacity: 1;
}
@media only screen and (max-width: 990px){
    .box{
        margin-bottom: 20px;
    }
}
/*fin*/


